.MuiPaper-root{
    background-color: rgba(255, 255, 255, 0)!important
}


.carousel-container{
    position: relative;
    width: 400px;
    margin: 0 auto;
    background: #2e2e2e;
    padding: 21px 50px 30px 50px;
    border-radius: 25px;
}


.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.carousel::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #2e2e2e 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0) 94%, #2e2e2e 100%);
    pointer-events: none;
    z-index: 2;
}